body {
background-color: #000000;
min-width: 900px;

}
h3, .edit, td {
color: black;
font-family: "Times New Roman", Georgia, Serif;
}
h1{
color: white;
text-align: middle;

}
h2{
text-align: center;
color: white;

}
div.list{
align: center;
overflow: scroll;

}
#list{
overflow: scroll;

}
a{
border-radius: 40px;
}
#home{
background-color: #f5f5dc;
overflow: scroll;

}
#mylist{
background-color: #f5f5dc;
}
#finalShoppingList{
background-color: #f5f5dc;
}
#quantity{
background-color: #f5f5dc;
}
#Monday{
background-color: #f5f5dc;
}
#index{
background-color: grey;
overflow: scroll;
}
#main{
overflow: scroll;
padding-bottom: 0px;
}
tbody{
overflow: scroll;
width: 10px;
align-items: center;

}
table.items {
width: 100%;
border-spacing: 5px 10px;
overflow: scroll;

}
th {

}

div #weekdays{
padding-left: 50px;
padding-right: 50px;
}
div #enter{
padding-left: 50px;
padding-right: 50px;
}

header {
text-align: center;
padding-top: 50px;
}
.sale {
border: 3px solid #95a5a6;
border-radius: 100%;
}
.input {
text-align: center;
padding: 0 0 25px 0;
border-top: 1px solid #95a5a6;
border-bottom: 1px solid #95a5a6;
background-color: #f5f5dc;
}
.custinput {
width: 400px;
background-color: #333333;
border: 3px solid #ecf0f1;
border-radius: 5px;
color: #ecf0f1;
padding: 10px 10px;
}
input.custinput:focus {
outline-style: none;
border-color: #27ae60;
}
.btn {
background-color: #27ae60;
border: 1px solid #2ecc71;
border-radius: 3px;
color: #ecf0f1;
font-size: 20px;
padding: 8px 1px 8px 1px;
cursor: pointer;
}
button.btn:active {
background-color: #19713e;
border-color: #1e9751;
outline: none;
}
button.btn:focus {
outline: none;
}
.edit {
text-decoration: underline;
text-align: right;
font-size: 30px;
min-width: 600px;
text-align: right;
padding-right:50px;

}
.edit span {
cursor: pointer;
color: black;
background-color: lightgreen;
border-radius: 50px;

}
.list h3 {
text-align: center;

}
.items {
clear: both;
margin: 0 auto;
}

td {
padding: 5px 5px;
font-size: 16px;
overflow: scroll;
padding:3px;
width: 50px;

}
thead tr {
border: none;
overflow: scroll;



}
span { 
display:inline-block;
width:50px;

}
tr {
border-bottom: 1px solid #ecf0f1;
overflow: scroll;

}
.cross {
display: none;
cursor: pointer; 
}
.content {
width: 500px;

}
.checked {
position: relative;
}
.checked::after {
content: '';
border-bottom: 4px solid #666666;
position: absolute;
left: 0;
top: 55%;
width: 100%;
}
/*  CUSTOM CHECKBOX  */

input[type=CHECKBOX].box {
display: none;
}
input[type=checkbox].box + label.check-label {
padding-left: 41px;
height: 36px;
display: inline-block;
line-height: 15px;
background-repeat: no-repeat;
background-position: 0 0;
font-size: 36px;
vertical-align: middle;
cursor: pointer;
}
input[type=checkbox].box:checked + label.check-label {
background-position: 0 -36px;
}
label.check-label {
background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_5e67f778a4d9b72b5f87ea729418f5ce.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/*
* {
	border: 1px solid red;
} 
*/
